---
import Hero from '../components/Hero.astro';
import { SITE_DESCRIPTION } from '../consts';
import DefaultLayout from '../layouts/Default.astro';
---

<DefaultLayout>
  <Hero
    title="Small-scale honey producers in Shropshire"
    img="/img/photos/simon.jpg"
    size="fullheight"
  >
    <div
      class="is-align-items-center has-background-black-ter is-inline-block p-5"
    >
      <h1 class="title has-text-white-ter">{SITE_DESCRIPTION}</h1>
    </div>
  </Hero>
</DefaultLayout>
