---
export interface Props {
  img: string;
  size?: 'small' | 'medium' | 'large' | 'halfheight' | 'fullheight';
}

const { img, size = 'medium' } = Astro.props;
---

<section class=`hero is-${size}` style=`background-image: url('${img}');`>
  <div class="hero-head">
    <slot name="head" />
  </div>
  <div class="hero-body">
    <div class="container">
      <slot />
    </div>
  </div>
</section>

<style lang="scss">
  .hero {
    background: {
      position: center center;
      size: cover;
    }
    box: {
      shadow: inset 0 0 0 2000px rgba(#a78500, 0.2);
    }
  }
</style>
