---
import { ETSY_URL } from '../consts';

interface ILinks {
  name: string;
  url: string;
  exactMatch?: boolean;
  external?: boolean;
}

const nav: ILinks[] = [
  {
    name: 'Shop',
    url: ETSY_URL,
    external: true,
  },
  {
    name: 'About',
    url: '#about',
  },
  {
    name: 'Gallery',
    url: '#gallery',
  },
  {
    name: 'Host A Hive',
    url: '#host-a-hive',
  },
  {
    name: 'Contact',
    url: '#contact',
  },
];
---

<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/img/brand/logo.png" alt="Priorslee Honey" />
      </a>

      <a
        role="button"
        class="navbar-burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarMenu"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-end">
        {
          nav.map((item) => (
            <a
              class="navbar-item"
              class:list={{
                'is-active has-text-white':
                  (item.exactMatch ?? false) !== false
                    ? Astro.url.pathname === item.url
                    : Astro.url.pathname.startsWith(item.url),
              }}
              href={item.url}
              target={item.external ? '_blank' : undefined}
            >
              {item.name}
            </a>
          ))
        }
      </div>
    </div>
  </div>
</nav>

<script>
  const $navbarBurgers = Array.prototype.slice.call(
    document.querySelectorAll('.navbar-burger'),
    0,
  );

  // Add a click event on each of them
  $navbarBurgers.forEach((el) => {
    el.addEventListener('click', () => {
      // Get the target from the "data-target" attribute
      const target = el.dataset.target;
      const $target = document.getElementById(target);

      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      el.classList.toggle('is-active');
      $target?.classList.toggle('is-active');

      // Stored as a boolean-string
      const expanded = el.ariaExpanded === 'true';
      el.ariaExpanded = (!expanded).toString();
    });
  });
</script>
